.cuerpo{

	h4{
		font-family: $bebas !important;
		line-height: 180%;
		color: $naranja;
	}

	h6{
		font-family: $bebas !important;
		line-height: 180%;
		color: $naranja;
	}

	.row{

		.date{
		margin: 40px 0 0 0;
			color: $plomo;
		}

		.barragrande{
				background: url(../images/post_border_bg.png);
				background-repeat: repeat;
				background-size: 3%;
				height: 20px;
				margin: 14px 0;
			}

		.col-md-9{
			padding: 30px 30px 0 10px;

			.bloques{
				padding: 20px 0;
				span{
					margin-right: 10px;
					padding:10px 15px;
					background: $naranja;
					color: $blanco;
					font-family: $bebas;
				}
			}
			
			.ico-no{
				@include icono;
				background-image: url(../images/icon1.png);				
			}

			.ico-no2{
				@include icono;
				background-image: url(../images/icon2.png);				
			}	

			.ico-no3{
				@include icono;
				background-image: url(../images/icon3.png);				
			}	

			.ico-no4{
				@include icono;
				background-image: url(../images/icon4.png);	
				margin: 50px 0 0 0; 			
			}				

			.ico-no5{
				@include icono;
				background-image: url(../images/icon5.png);	
				margin: 50px 0 0 0; 			
			}

			.imagen{
				margin-right: 25px;
				width: 100%;
			}

			.margen{
				padding: 20px 0;
			}

			.post_quote{
				padding: 30px;
				p{
					border-left: 10px solid $naranja;
   					padding-left: 15px;
   					position: relative;
   					top: 10px;
   					span{
   						font-size: 40px;
   						color: $naranja;
   						line-height: 50%;
   					}
				}
			}	
		}

		.col-md-12{
			padding: 70px 40px;
			.quote{
				background: url(../images/quote.png) no-repeat scroll left top;
				float: left;
				width: 40px;
				height: 30px;
		}
		}
	}
}